/*

RESPONSTABLE 2.0 by jordyvanraaij
  Designed mobile first!

If you like this solution, you might also want to check out the 1.0 version:
  https://gist.github.com/jordyvanraaij/9069194

*/

.responstable {
    margin: 50px;
    width: 93%;
    overflow: hidden;
    background: #FFF;
    color: #024457;
    border-radius: 10px;
    border: 1px solid #167F92;
}

.responstable tr {
    border: 1px solid #D9E4E6;
}

.responstable tr:nth-child(odd) {
    background-color: #EAF3F3;
}

.responstable th {
    display: none;
    border: 1px solid #FFF;
    background-color: #167F92;
    color: #FFF;
    padding: 1em;
}

.responstable th:first-child {
    display: table-cell;
    text-align: center;
}

.responstable th:nth-child(2) {
    display: table-cell;
}

.responstable th:nth-child(2) span {
    display: none;
}

.responstable th:nth-child(2):after {
    content: attr(data-th);
}

@media (min-width: 480px) {
    .responstable th:nth-child(2) span {
        display: block;
    }
    .responstable th:nth-child(2):after {
        display: none;
    }
}

.responstable td {
    display: block;
    word-wrap: break-word;
    max-width: 7em;
}

.responstable td:first-child {
    display: table-cell;
    text-align: center;
    border-right: 1px solid #D9E4E6;
}

@media (min-width: 480px) {
    .responstable td {
        border: 1px solid #D9E4E6;
    }
}

.responstable th,
.responstable td {
    text-align: left;
    margin: .5em 1em;
}

@media (min-width: 480px) {
    .responstable th,
    .responstable td {
        display: table-cell;
        padding: 1em;
    }
}

body {

    font-family: Arial, sans-serif;
    color: #024457;
   
}

h1 {

    font-family: Verdana;
    font-weight: normal;
    color: #024457;
}

h1 span {
    color: #167F92;
}

.container-fluid,
.container-f {
    margin: 100px 0;
    background-color: #eee;
    margin-bottom: 50px;
}

#dataTable {
    margin: 50px;
    display: inline-block;
    margin-bottom: 0px;
}
.widthbtn{
    width: 100px;
}
.container-f {
    margin: 100px 0 !important;
    background-color: #fff;
    margin-bottom: 50px;
}

table {
    padding: 27px;
}

.title {
    text-align: center;
}

.content-ss {

    padding: 41px;
    font-size: 20px;
}

.dell-11 {
    display: none;
}

.dellall {
    margin: 50px;
    margin-top: 0;
}

.Form_insert{
    margin-top: 30px;
    width: 50%;
    padding: 30px;
    display: inline-block;
    text-align: left;
    border: 2px solid #e67e22;
        background-color: #fff
}

.wrapper {
    width: 500px;
    display: inline-block;
    text-align: left;
}

.insert {
    margin: 50px;
    text-align: center;
}

body {
    padding-bottom: 50px;
}

.btn-insert {
    width: 20% !important;
}

.hinden {
    display: none !important;
}

.row_xxx {
    border: 1px solid rgba(0, 0, 0, .125);
    margin: 20px;
    padding: 30px;
    background-color: #fff;
}

.content1 {
    height: 100px;
    text-overflow: ellipsis;

    white-space: inherit;
}

.back {
    margin-top: 20px;
  
}

.btn_control {
       height: 222px;
    line-height: 222px
}

.avarta_1 {
    width: 60%;
}



.table_article {
    width: 100%;
}

.page-wrapper {
    padding: 20px 100px;

    background-color: #fff !important;
}

.card-block {

    padding: 20px;
}

.row_ud {

    padding: 40px 20px;
   
}

.m-t-30 {
    padding: 20px;
    background-color: #DCF3F4;
}

.align-self-center {
    padding: 0;
}

.row_av {
    padding: 40px 20px;
}

.form-g {
    padding: 0 15px;
}

.add-cate {
    margin-top: 10px;
}

.checkxxx {
    display: none;
}

.delete {
    margin-left: 20px;
}

.delete_std {
    margin-left: 50px;
}

.addcate1 {
    margin-top: 15px;
    margin-left: 50px !important;
}

/*.btn-addct {

    margin-top: 20px !important;
}*/

.error, .errors {

    color: red;
    font-size: 16px;
    font-weight: normal;
}

.content-form {

    word-break: break-all;

    height: 100px !important;
}

.update-btn {
    margin-top: 20px;
}

.modal-footer {
    margin-top: 0px !important;
}

.col-role {
    padding-left: 0;
}

.boxDoi-c {
    width: 60%;
    display: inline-block;
    margin-left: 190px;
}

.btn-add-js {
    width: 20% !important;
}

.date-time {

    color: #798FBB;
}

.color_hr {
    margin: 50px 0;
    border-top: 1px solid blue;
}

.img_show {
    height: 400px;
    overflow: hidden;
}

.content_ct {
    padding: 20px 0;
}

.input_search {
    width: 85%;
    display: inline-block;
}

.form_search {
    margin: 30px 0;
}

.col-md-12 .error {

    color: #fff;
}

.page {
    width: 100%;
}

.image_post {
    overflow: hidden;
    width: 750px;
    height: 400px;
}

.image_width {
    width: 100%;
}

.mb-4 {

    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    margin: 50px 0;
    overflow: hidden;
}

.card-body {
    padding: 20px;
}

.footer_post {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, .03);
    border-top: 1px solid rgba(0, 0, 0, .125);
}

.form_search_show {
    width: 100%;
    display: flex;
}

.card-header {
    padding: .75rem 1.25rem;
    margin: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.card {
    overflow: hidden;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.my-4 {
    margin-top: 1.5rem!important;
    margin-bottom: 1.5rem!important;
}

.post_body {

    padding: 1.25rem;
}

.post_8 {
    display: inline-block;
}

.color_menu {
    color: #13204b !important;
    font-size: 110%;
    font-weight: bold;
}

.color_menu:hover {
    background-color: #13204b !important;
    color: #fff!important;
}

.title_article {
    font-size: 26px;
}

.upload_img_p {
    padding: 10px;
    text-align: center;
    background-color: #BAD7E5;
    color: #8C6635;
    font-size: 17px;
    font-weight: bold;
}
.btn-back{
    background-color: #e7e7e7;
}
.btn-insert {
    margin-top: 20px;
}

.img_article{
    margin-bottom: 10px;
}
.card-text{
    width: 100%;
    height: 100px;
    overflow: hidden;
     border: 1px solid rgba(0, 0, 0, .125);
     padding: 10px;
     margin-bottom: 20px;
}
.img_bb{
    font-size: 15px;
    font-weight: normal;
    color: red;
}
.form_forget {
    width: 500px;
    display: inline-block;
    text-align: left;
}
.succes {

   background: #fff;
    text-align: center;
    font-size: 18px;
    color: blue;
    height: 50px;
    line-height: 50px;
    width: 300px;
    display: inline-block;
}
.succes .close{
    line-height: 50px;
    margin-right: 16px;
}
.succesLogin .close{
    line-height: 50px;
    margin-right: 16px;
}

.fail{
     text-align: center;
    font-size: 18px;
    color: red;
}
.fail2{
    color: red;
}
/*.Admin.Members, .Admin.User,.Admin {
    background-color: blue;
}
.User{
    background-color:red;
}*/
.btn_searchAr{
    margin-left: 20px;
}
.rgt{
    background: url("../img/image4.jpg") ;
}
.col-md-2 span a{
    width:100%;
}
.col-md-2 .delete{
    width: 100%;
    margin-left: 0;
}
.updateBody{
    background: url("../img/header_bg.jpg") no-repeat fixed 0 0 rgba(0, 0, 0, 0);
}
.dangkiBody, .page-wrapper{
    background: url("../img/header_bg.jpg") no-repeat fixed 0 0 rgba(0, 0, 0, 0);
}
.card-body .Form_insert,.card-no-border{
    border: none;
    padding: 0;
}
/*.arBody .Form_insert{
    background-color: #21252E;
    border: none;
    border-radius: 3px;
   box-shadow: 0px 0px 3px 3px #888888;
}
.arBody .Form_insert h3 {
    color: #B6B4B7;
}
.arBody .Form_insert input, .arBody .Form_insert select, .arBody .Form_insert textarea {
background-color: #13161B;
border: none;
}
.arBody .Form_insert .btn-insert{
    background-color: #fff;
    color: black;
}*/
.form_forget{
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    border:2px solid red;
}
.forgetBody,.arBody{
    background: url("../img/header_bg.jpg") no-repeat fixed 0 0 rgba(0, 0, 0, 0);
}
.succesLogin{
       width: 500px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    background: #fff;
    color: black;
    margin-top: 40px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    border-radius: 5px;
}
.changepassForm {
    background-color: #fff;
    border-top: 5px solid #47a447;
    padding: 20px;
    border-radius: 0 0  5px 5px;
}
.colorMana{
    color: #fff;
}
.col2{
    margin-top: 20px;
}
.checkboxhe{
    height: 222px;
    line-height: 222px;
}
.mark-air{
    margin-left: 34px;
}