 form {
        margin-left: 40px;
    }

    input {
        margin: 10px 0;
    }

    p {
        color: red;
        display: inline-block;
        margin-left: 20px;
    }

    .back {
        margin-left: 40px;
    }

    .hinden {
        display: none;
    }