.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

/application/config/config.php
/application/config/database.php

/asset/images/student/*.*
/asset/images/article/*.*
!/asset/images/student/doanthi.jpg
!/asset/images/student/avarta.png