.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

/application/config/config.php
/application/config/database.php

/image_upload/student/*.*
/image_upload/article/*.*
!image_upload/article/doanthi.jpg
!image_upload/student/avarta.png
/application/config/database.php
/application/config/config.php
