 <style>
    .container-fluid {
        background-color: #eee;
        margin-bottom: 50px;
    }

    form {
        margin: 27px;
    }

    table {
        padding: 27px;
    }

    .title {
        text-align: center;
    }

    .back {
        margin-bottom: 30px;
    }

    .left {
        float: right;
    }

    .input_text {
        width: 50%;
        padding: 4px;
    }

    .responstable {}

    .center {
        text-align: center !important;
        width: 10%;
    }